.leadFormContainer {
    width: 640px;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2 {
    color: #333;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.leadFormField {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    color: #666;
}

input {
    height: 40px;
    border: 1px solid #;
    border-radius: 12px;

}